* {
  box-sizing: border-box;
}

@import "leaflet/dist/leaflet.css";

/* custom fonts */
@font-face {
  font-family: Poppins;
  src: url(../public/Fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(../public/Fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(../public/Fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 600;
}

/* media query */
@media (max-width: 767px) {
  .header .logo {
    flex-direction: column;
    text-align: center;
  }

  .header .search-area {
    flex-direction: column;
    gap: 10px;
  }

  .header .search-area input {
    margin-right: 0 !important;
    width: 100%;
  }

  .header .search-area button {
    width: 100%;
  }

  /* country temperature container */
  .country-temp-container {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}


@media (max-width: 767px) {
  .boxes {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media (min-width: 768px) {
  .boxes {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}